body {
  background-color: rgb(239, 240, 240);
  text-align: center;
  color: black;
  line-height: 1.8;
  margin: 75px;
  font-family: 'Libre Caslon Text', serif;
}

.page {
  display: flex;
  flex-direction: column;
}

.detailsdiv {
  background-color: #ffffff;
}

.coins {
  display: flex;
  align-items: center;
  justify-content: center;

}

.resultsdiv {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  width: 29vw;
  height: 29vw;
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  border-radius: 50%;
  border-style: hidden;
}

.images {
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;

  border-width: 2px;
  border-style: hidden;
}


.pagedivscheme {

  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.scheme {
  background-color: #fb0094;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  align-content: space-around;
  justify-content: center;
  border-style: hidden;
  border-width: 12px;
  font-family: 'Libre Caslon Text', serif;
}


.onthisdaydiv {
  background-color: #fbfade;
  margin: 10%;
  padding: 8%;
  font-size: 10px;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  border-style: hidden;
  border-width: 12px;
  font-family: 'Libre Caslon Text', serif;
}

.button {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 0%;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  transition: var(--speed-normal);
  border-style: hidden;
}


.flag {
  position: relative;
  border: 10px solid rgb(14, 214, 41);
  height: 300px;
  float: center;
  background-color: white;
  margin-left: 144px;
  border-radius: 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.h1 {
  font-family: 'Rubik Bubbles', cursive;
  color: #fb0094;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.load {
  font-family: 'Rubik Bubbles', cursive;
  color: #0055ff;
  display: flex;
  justify-content: center;
}

.catBorder:before,
.catBorder:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e6fad5, #ffdfe0, #e7f0fd, #f5dffc, #ffe3e3, #ffebe2,
      #e8e8fb, #e8fce8, #fdfdf1, #fee6e6);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50%;
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.catBorder:after {
  filter: blur(50px);
}

/* THIS IS THE IMAGE BELOW */
.catBorder {
  display: catBorder;
  margin: auto;
  border-radius: 0%;
  width: auto;
  object-fit: cover;

}